{% extends "home/base.html" %}

{% block content %}
<div class="container mt-3">
    <h2>Comentarios para {{ auto.marca }} {{ auto.modelo }}</h2>
    <a href="{% url 'comentario_create_auto' auto.pk %}" class="btn btn-primary mb-3">Agregar Comentario</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Comentario</th>
                <th>Fecha</th>
                <th>Acciones</th>                
            </tr>
        </thead>

        <tbody>
            {% for comentario in comentarios %}
            <tr>
                <td>{{ comentario.usuario.username }}</td>
                <td>{{ comentario.comentario }}</td>
                <td>{{ comentario.fecha }}</td>
                <td>
                    <div class="btn-group">
                        {% if user.is_staff %}
                            <a href="{% url 'comentario_detail' comentario.pk %}" class="btn btn-info btn-sm">Detalles</a>
                        {% endif %}
                        {% if cliente.user.is_authenticated %}
                            <a href="{% url 'comentario_update' comentario.pk %}" class="btn btn-success btn-sm">Editar</a>
                            <form action="{% url 'comentario_delete' comentario.pk %}" method="post" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                            </form>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
