{% extends "home/base.html" %}

{% block content %}
<div class="container mt-3">
    <h2>Editar Comentario</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_auto">Auto</label>
            {{ form.auto }}
        </div>
        <div class="form-group">
            <label for="id_user">Cliente</label>
            {{ form.user }}
        </div>
        <div class="form-group">
            <label for="id_comentario">Comentario</label>
            {{ form.comentario }}
        </div>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        <a href="{% url 'comentario_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
